*{
    padding: 0;
    margin: 0;
}
body{
background:#cccccc;
}

.div1, .div2{
margin-top: 5%;
height: 300px;
width: 60%;
float: left;
margin-left: 25% ;
background:white;
border-radius: 3%;
border: black solid;
}
